* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;  
}

.one {
    background-color: darkslateblue;
    color: white;
    padding-left: 15%;  
    padding-right: 15%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.headlogo {
    font-size: 30px;
}

.header {
    display: flex;
    padding: 20px 0px;
}

.headlinks {
    margin-left: auto;
    display: flex;
}

ul {
    margin: 0;
    padding: 0;
    gap: 50px;
    align-items: center;
}

li {
    list-style-type: none;
    font-size: 20px;
}

li a {
    color: white;
    text-decoration: none;
}

.onecontent {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 350px;
    justify-content: flex-start;
    padding: 100px 0px;
}

.onecontext {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 1.5vw;
    text-align: left;
    gap: 25px;

}

.onetitle {
    font-size: 2.5vw;
    padding-bottom: 20px;
}

.oneconbody {
    padding-bottom: 20px;
}

.oneconimg {
    width: 50%;
    min-width: none;
}

#signup {
    max-width: 200px;
    height: 3vw;
    width: 10vw;
    border-radius: 15px;
    border: 0;
    font-size: 1.5vw;
}

#usimg {
    border: 2px solid black;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

.two {
    display: flex;
    background-color: mintcream;
    flex-direction: column;
    padding-left: 15%;  
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
}

.twotitle {
    font-size: 60px;
}

.pictures {
    display: flex;
    gap: 7%;
    padding-top: 100px;
    flex-wrap: wrap;
    justify-content: center;
}
.pics img {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
}

.pics {
    padding-bottom: 5%;
    text-align: center;
}

.pictext {
    text-wrap: wrap;
    max-width: 250px;
    font-size: 20px;
    text-align: center;
}

.three {
    padding-left: 15%;  
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: rgb(231, 239, 232);
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
}

.threequote {
    font-size: 2vw;
}

.quoter {
    font-size: 1.5vw;
    margin-left: 75%;
}

.four {
    padding-left: 15%;  
    padding-right: 15%;
    text-align: center;
    background-color: mintcream;
}

.fourbox {
    display: flex;
    padding: 3vw;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(92, 84, 141);
}

.fourtext p1 {
    font-size: 2vw;
}

.fourtext p2 {
    font-size: 1vw;
}

.fourtext {
    text-align: left;
    color: white;
    flex-basis: 70%;
}

.fourbutton{
    flex-basis: 30%;
    margin-left: auto;
    align-content: center;
    box-sizing: border-box;
    height: 10vh;
}

.donate {
    width: 70%;
    height: 50%;
    font-size: 1vw;
    border-radius: 40px;
}

.footer {
    font-size: 20px;
    text-align: center;
    padding: 30px;
    background-color: darkslateblue;
    color: white;
}